<includeonly>
<div class="gb4-unit-include">
[[ File:GB4_Icon_Unit_[=SUIT_NAME|slugify].png|left|frameless]] <span>[[ [=WIKI_NAMESPACE]:[=SUIT_NAME|slugify] | [=SUIT_NAME] ]]</span>
</div>
</includeonly>
<noinclude>
{{GB4SuitInfo
|SUIT_NAME=[=SUIT_NAME]
|SUIT_NUMBER=[=SUIT_NUMBER]
|MAIN_IMAGE=[[ File:GB4_[=SUIT_NAME|slugify]_Main.png ]]
|SERIES={{GB4Series_[=SERIES|slugify]}}
|GRADE_HG=[=GRADE_HG]
|GRADE_MG=[=GRADE_MG]
|GRADE_SD=[=GRADE_SD]
|SHOP_PRICE_HG=[% for box in BOX_HG %]{{[=WIKI_NAMESPACE]:Kit_[=box.grade]_[=box.name|slugify]}}[% endfor %]
|SHOP_PRICE_MG=[% for box in BOX_MG %]{{[=WIKI_NAMESPACE]:Kit_[=box.grade]_[=box.name|slugify]}}[% endfor %]
|SHOP_PRICE_SD=[% for box in BOX_SG %]{{[=WIKI_NAMESPACE]:Kit_[=box.grade]_[=box.name|slugify]}}[% endfor %]
|DERIVE_ONLY=[=DERIVE_ONLY]
}}
= [=SUIT_NAME] - [=SUIT_NUMBER] =
[=DESCRIPTION]

== Part list ==
[% for icon, part_name, part_skills, is_unique in PARTS | select() %]
=== [=icon] ===
[% if is_unique %][=part_name][% else %][[[=WIKI_NAMESPACE]:[=part_name | slugify]]][% endif %]
[% if part_skills %]
{| class="wikitable"
|+
!EX Skill
!OP Skill
!Awaken Skill
[%- for ex, op, awaken in part_skills|tabulate %]
|-
| [% if ex %]{{GB4AbilityType_[=ex.ability_type]}} '''[=ex.name]'''
[=ex.info|fix_tags][% endif %]
| [% if op %]{{GB4AbilityType_[=op.ability_type]}} '''[=op.name]'''
[=op.info|fix_tags][% endif %]
| [% if awaken %]{{GB4AbilityType_[=awaken.ability_type]}} '''[=awaken.name]'''
[=awaken.info|fix_tags][% endif %]
[%- endfor %]
|}
[% endif %]
[%- endfor %]


== Equipment ==
[% for name in EQUIP %]
=== [=name] ===
{{[=WIKI_NAMESPACE]:[=name|slugify]}}
[% endfor %]


== Drops ==


== Derives from ==

Both Unit 1 and Unit 2 can be used as base part to start the derive synthesis.

[%- for part_type, recipes in DERIVE_FROM.items() %]
=== [=part_type] ===
{| class="wikitable"
|+
!Remodel Unit
!Unit 1
!Unit 2
[%- for recipe in recipes %]
|-
| {{ [=WIKI_NAMESPACE]:[=recipe.result_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.source1_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.source2_suit_name | slugify] }}
[%- endfor %]
|}
[%- else %]
No derives known.
[%- endfor %]


== Derives into ==

[%- for part_type, recipes in DERIVE_INTO.items() %]
=== [=part_type] ===
{| class="wikitable"
|+
!Base Unit
!Remodel Unit
!Material Unit
[%- for recipe in recipes %]
|-
| {{ [=WIKI_NAMESPACE]:[=recipe.base_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.result_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.material_suit_name | slugify] }}
[%- endfor %]
|}
[% endfor %]

{{GB4SuitPageFooter}}

[[Category:Gundam Breaker 4]]
[[Category:GB4_Suit]]
[[Category:[=SERIES]]]
</noinclude>