<includeonly>
<div class="gb4-unit-icon">
[[ File:GB4_Icon_[=SUIT_NAME|slugify].png|left|frameless]] <span>[[ [=WIKI_NAMESPACE]:[=SUIT_NAME|slugify] | [=SUIT_NAME] ]]</span>
</div>
</includeonly>
<noinclude>
= [=SUIT_NAME] - [=SUIT_NUMBER] =
{{GB4KitInfo
|KITNAME_EN=[=SUIT_NAME] - [=SUIT_NUMBER]
|MAIN_IMAGE=Main image
|SERIES_NAME={{GB4Series_[=SERIES|slugify]}}
|GRADE_HG=[=GRADE_HG]
|GRADE_MG=[=GRADE_MG]
|GRADE_SD=[=GRADE_SD]
|IN_SHOP=[=IN_SHOP]
|DERIVE_ONLY=[=DERIVE_ONLY]
|SHOP_PRICE_HG=[=SHOP_PRICE_HG]
|SHOP_PRICE_SD=[=SHOP_PRICE_SD]
|SHOP_PRICE_MG=[=SHOP_PRICE_MG]
}}
[=DESCRIPTION]


== Part list ==
[% for icon, part_name, part_skills in PARTS %]
=== [=icon] ===
[=part_name]
[% if part_skills %]
{| class="wikitable"
|+
!EX Skill
!OP Skill
!Awaken Skill
[%- for ex, op, awaken in part_skills %]
|-
| [% if ex %]{{GB4AbilityType_[=ex.ability_type]}} '''[=ex.name]'''
[=ex.info][% endif %]
| [% if op %]{{GB4AbilityType_[=op.ability_type]}} '''[=op.name]'''
[=op.info][% endif %]
| [% if awaken %]{{GB4AbilityType_[=awaken.ability_type]}} '''[=awaken.name]'''
[=awaken.info][% endif %]
[%- endfor %]
|}
[% endif %]
[%- endfor %]


== Equipment ==

{| class="wikitable"
|+
!Part
!Normal Skill
!EX Skill
!OP Skill
!Awaken Skill
[%- for icon, name, part_skills in EQUIP | select() %]
|-
| [% if part_skills %]rowspan="[=part_skills|length]" | [% endif %]{{GB4Equip[=icon]}} [=name]
[%- for normal, ex, op, awaken in part_skills %]
[% if loop.index > 1 %]|-[% endif %]
| [% if normal %]{{GB4AbilityType_[=normal.ability_type]}} '''[=normal.name]'''
[=normal.info][% endif %]
| [% if ex %]{{GB4AbilityType_[=ex.ability_type]}} '''[=ex.name]'''
[=ex.info][% endif %]
| [% if op %]{{GB4AbilityType_[=op.ability_type]}} '''[=op.name]'''
[=ex.info][% endif %]
| [% if awaken %]{{GB4AbilityType_[=awaken.ability_type]}} '''[=awaken.name]'''
[=ex.info][% endif %]
[% else %]
|
|
|
[%- endfor %]
[%- endfor %]
|}

== Drops ==


== Derives from ==

Both Unit 1 and Unit 2 can be used as base part to start the derive synthesis.

[%- for part_type, recipes in DERIVE_FROM.items() %]
=== [=part_type] ===
{| class="wikitable"
|+
!Remodel Unit
!Unit 1
!Unit 2
[%- for recipe in recipes %]
|-
| {{ [=WIKI_NAMESPACE]:[=recipe.result_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.source1_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.source2_suit_name | slugify] }}
[%- endfor %]
|}
[%- endfor %]

== Derives into ==

[%- for part_type, recipes in DERIVE_INTO.items() %]
=== [=part_type] ===
{| class="wikitable"
|+
!Base Unit
!Remodel Unit
!Material Unit
[%- for recipe in recipes %]
|-
| {{ [=WIKI_NAMESPACE]:[=recipe.base_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.result_suit_name | slugify] }}
| {{ [=WIKI_NAMESPACE]:[=recipe.material_suit_name | slugify] }}
[%- endfor %]
|}
[% endfor %]

[[Category:Gundam Breaker 4]]
[[Category:[=SERIES]]]
</noinclude>